body {
  background-image: linear-gradient(to bottom, #cdedf0, #f0e2ef);
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  padding: 1em;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.Header {
  margin: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgb(21, 50, 87);
    user-select: none;
    top: 0;
    color: rgb(12, 141, 192);
    letter-spacing: 6px;
    font-size: 4rem;
}

.quotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 100px;
  padding: 20px 80px 80px 80px;
  color: rgb(15, 14, 15);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
  .quotes .quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
  }
  .quotes .quote .quote-quote {
  color: rgb(138, 17, 84);
  font-weight: bold;
  margin-bottom: 30px;
}
.quotes .quote .sp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88%;
  margin-bottom: 5px;
  padding: 2px 6px 2px 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

    .quotes.quote .span {
      margin-right: 50px;
    }

    .quotes .quote:hover {
      background: rgba(156, 156, 136, 0.1);
    }

.form{
  margin-top: 100px;
}

#page-numbers {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-numbers > li {
  display: flex;
  margin-right: 0.3em;
  color: rgb(36, 11, 179);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
